@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}

section {
    width: 50%;
    margin: 2em auto 2em auto;
}

h1 {
    color: rgb(255, 0, 140);
}

h2 {
    color: lime;
}

h1, h2, h3 {
    font-size: 1.1em;
}

h1::before {
    content: "# ";
}

h2::before {
    content: "## ";
}

pre {
    color: rgb(0, 110, 255);
}

p, p a {
    line-height: normal;
}

p {
    text-align: justify;
}

p a {
   color: cyan;
   text-decoration: none;
   transition: all 0.1s;
}

p a:hover {
    color: black;
    background-color: cyan;
    text-decoration: none;
}

p a:before {
    content: "=> 🌍 "
}